pybrreg/xml/generated/xsd/melding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 (x64) (http://www.altova.com) by Morten Jenssen (Bronnoysundregistrene) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.brreg.no/postmottak/henvendelse" targetNamespace="http://schema.brreg.no/postmottak/henvendelse" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.0">
	<xs:element name="Melding" type="ctMelding"/>
	<xs:complexType name="ctMelding">
		<xs:complexContent>
			<xs:extension base="ctMeldingsKonvolutt">
				<xs:sequence>
					<xs:element name="Innhold" type="ctInnhold"/>
					<xs:element name="Vedlegg" type="ctVedlegg" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Signatur" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ctMeldingsKonvolutt">
		<xs:sequence>
			<xs:element name="Mottaker" type="ctAdressat"/>
			<xs:element name="Avsender" type="ctAdressat"/>
			<xs:element name="Referanse" type="ctReferanse" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kan brukes til å referere til tidligere sendte meldinger</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="versjon" type="stTekst32" use="required">
			<xs:annotation>
				<xs:documentation>XSD versjon</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="stGUID" use="required">
			<xs:annotation>
				<xs:documentation>UUID for melding</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tjeneste" type="stTekst64" use="required">
			<xs:annotation>
				<xs:documentation>Registermelding, bestilling, brevsak, mm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tjenestehandling" type="stTekst64" use="required">
			<xs:annotation>
				<xs:documentation>Unik identifikasjon på tjenestetype</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="stGUID">
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Za-z0-9._-]{32,36}@?[A-Za-z0-9.-]{0,11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stID">
		<xs:annotation>
			<xs:documentation>GUID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stGUID"/>
	</xs:simpleType>
	<xs:complexType name="ctReferanse">
		<xs:attribute name="referanse" type="stTekst64" use="required">
			<xs:annotation>
				<xs:documentation>Fritekst: URI, UUID, orgnr, formatert tekststreng, mm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="referanseType" type="stTekst32" use="required">
			<xs:annotation>
				<xs:documentation>Kan være meldingsreferanse, avsenderreferanse, mm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ctAdresseID">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="stTekst64" use="required">
					<xs:annotation>
						<xs:documentation>Fritekst: Orgnr, fnr, kundenr, formatert tekststreng, mm</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="idType" type="stTekst32" use="required">
					<xs:annotation>
						<xs:documentation>Forteller formatet på ID</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ctAdressat">
		<xs:simpleContent>
			<xs:annotation>
				<xs:documentation>Fritekst: Orgnr, fnr, kundenr, formatert tekststreng, mm</xs:documentation>
			</xs:annotation>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="stTekst64" use="required">
					<xs:annotation>
						<xs:documentation>Fritekst: Orgnr, fnr, kundenr, formatert tekststreng, mm</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="idType" type="stTekst32" use="required">
					<xs:annotation>
						<xs:documentation>Forteller formatet på ID</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ctInnhold">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Data">
					<xs:annotation>
						<xs:documentation>Inkludert i xml dokumentet</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="format" type="stTekst64" use="required">
									<xs:annotation>
										<xs:documentation>Angir formatet på data xml, pdf, doc, mm</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="DataRef" type="ctDokumentReferanse">
					<xs:annotation>
						<xs:documentation>Referanse til eksternt dokument (strukturert/ustrukturert)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ctVedlegg">
		<xs:sequence>
			<xs:element name="Vedleggsdel" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ctInnhold">
							<xs:attribute name="sekvensnr" use="required">
								<xs:annotation>
									<xs:documentation>Ved flere vedlegg, angi rekkefølge</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="filnavn">
								<xs:annotation>
									<xs:documentation>navn på vedleggsdel</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:annotation>
				<xs:documentation>type vedlegg, stiftelsesdokument, vedtekter, mm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="navn" use="required">
			<xs:annotation>
				<xs:documentation>navn på vedlegget, kan benyttes for sporing til orginalvedlegg</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ctDokumentReferanse">
		<xs:attribute name="referanse" type="stTekst64" use="required">
			<xs:annotation>
				<xs:documentation>Fritekst: URI, UUID, formatert tekststreng, mm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="format" type="stTekst64" use="required">
			<xs:annotation>
				<xs:documentation>Angir formatet på data xml, pdf, doc, mm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="referanseFormat" type="stTekst32">
			<xs:annotation>
				<xs:documentation>Forteller formatet på referansen</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sjekksum" type="xs:hexBinary">
			<xs:annotation>
				<xs:documentation>Brukt for å oppbevare hashverdi (hvis den eksisterer) for den eksterne referansen</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="stTekst32">
		<xs:restriction base="xs:token">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stTekst64">
		<xs:restriction base="xs:token">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
